<!doctype html>
<html>
<head>	
<title></title>
<form>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link type="text/css" rel="stylesheet" href="bootstrap.css">
<link href="bootstrap-4.0.0-dist/css/bootstrap-grid.css" rel="stylesheet">


<link type="text/css" rel="stylesheet" href="stylesheet.css">
</head>
<body > 
<script scr="jquery-migrate-1.4.1.min.js"></script>
<script scr="bootstrap.js"></script>
<fieldset>
<legend>Welcome to new RNSIT page</legend>
<h1></h1>
<div id= "img">
&emsp; &emsp;&emsp; &emsp;<b><p>This Page is to made to help to students!🤗<p></b>
<!-----<p1>&emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp; &emsp;<img src="rns.png" width ="200" height ="100"></p1>----->
</div>

<div id="navbar">
<p><b>We are here to welcome you!</b><p><br></br>
</div>

<div class="ackrit_club">
<p>ACKRIT CLUB</p><br>
"Information of <I>Ackrit club</I> <br>is going to<br> be displayed here"
</div>
<div class="dance">
<p>DANCE CLUB</p><br>
"Information of <I>Dance club</I> <br>is going to<br> be displayed here"
</div>
<div class="ieee">
<p>IEEE CLUB</p><br>
"Information of <I>IEEE club</I> <br>is going to<br> be displayed here"
</div>
<div class="department_activity">
<p>Department</p><br>
"Information of Department<br> activities is going to<br> be displayed here"
</div>
<div class="cat_team">
<p>CAT CLUB</p><br>
"Information of <I>CAT team</I> <br>is going to<br> be displayed here"
</div>
<div class="sport_team">
<p>SPORTS CLUB</p><br>
"Information of <I>Sports club</I> <br>is going to<br> be displayed here"
</div>

<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>

<div class="main">

<form action ="" method ="">


<b>Select the Section of department</b>
<br></br>
&emsp; &emsp;<select>
<option value ="CSE A">CSE A</option>
<option value ="CSE B">CSE B</option>
<option value ="CSE C">CSE C</option>
</select>


<br></br>

<b>Enter the Batch Year </b>  
</br></br>
&emsp; &emsp;<input type="number" max="2020" min ="2001"></br></br></br></br>
</br></br>

</div>

<div class ="choice_of_department">

<!--to select checkbox-->

Select the courses you opt <br>
<input type="checkbox" name=""> Data structure  <br>
<input type="checkbox" name="">Software engineering <br>
<input type="checkbox" name=""> ADE <br>
<input type="checkbox" name=""> MATHS <br>
<input type="checkbox" name=""> DSA <br>
</div>
<!--to save our NAME-->
<div class ="students">
<label for= "first name" > First name :</label>
<input type="text" id = "Firstname" name ="" size ="20"> </br></br></br></br>
<label for= "Last name" > USN :</label>
<input type="text" id="Latsname " name ="" size ="25"> </br></br>
&emsp; &emsp;&emsp; &emsp;&emsp;<input type ="submit" value ="submit" id="button_first"></br></br></br>



<!--to save our USN-->

<!--test-->
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
&emsp; &emsp;&emsp; &emsp;&emsp;
<div id ="content">
<!--to save our details-->
<p>
	<a href="https://classroom.google.com/c/MTQ1NTc3NzMzNTg4?cjc=ptf2w5n">CLICK HERE FOR NOTES</a>
</p>
	Select Yes to save your details and to move in next page</br></br>
Yes:
<input type ="radio" name ="YesorNo" value =""></br></br>
No:
<input type ="radio" name ="YesorNo" value =""></br></br>
<p>
	<a href="https://www.rnsit.ac.in/">To go RNSIT site click here</a>
</p>
<p>
	<a href="https://www.rnsit.ac.in/cse.html"><input type ="submit" input type ="https://vtu.ac.in/"  value ="RNSIT CSE site"></a>
</p>
<p>
	<a href="https://vtu.ac.in/"><input type ="submit" input type ="https://vtu.ac.in/"  value ="VTU site"></a>
	
</p>
</br></br>
</br></br>
</div>
<!--test-->
</br></br>
</br></br>
<div class ="teacher">
<label for= "tname" > Teacher's ID :</label>
<input type="text" id = "Firstname" name ="" size ="20"> </br></br></br></br>
<label for= "password" > Password :</label>
<input type="text" id="Latsname " name ="" size ="25"> </br></br>
&emsp; &emsp;&emsp; &emsp;&emsp;<input type ="submit" value ="submit"></br></br></br>



</div>
<div class ="images">
<div>
<p><b>Chairman of RNSIT</b></p>
<a href="rns.html" title="Dr. R.N. SHETTY"><img class ="chairman" src="chair.jpg" ></a>
<p><b>Dr. R.N. SHETTY </b></p>
</div>
</br></br>
<div>
<p><b>Principal of RNSIT</b></p>
<img class ="principal" src="principal.jpg" >
<p><b>Dr. M.K. VENKATESHA</b></p>
</div>
</br></br>
<div>
<p><b>Registrar of RNSIT</b></p>
<img class ="registrar" src="reg.jpg" >
<p><b> Mr. GANAPATHI M YAJI</b></p>
</div>
</br></br>
<div>
<p><b>HOD of RNSIT CSE Dept</b></p>

<a href="drk.html" title="Dr.Kiran P"><img class= "kiran_sir" src="DrKP1.jpeg" ></a>
<p><b>Dr. Kiran P</b></p>
<color="black">
</div>
</div>

<div class ="notes_link">

<div class="hello"></div>
</br></br></br></br></br></br>
</div>
<!-- input elements go in here--->
<script>
	type="text/javascript">
function checkMyMailAddress(HTMLText) 
{
	var validate = "abhigrmr@gmail.com";
	if (HTMLText.value.match(validate)) 
	{
		alert("Mail ID format is approved!");
		document.mailForm.mailText.focus();
		return true;
	}
	else
	{
		alert("Mail ID format is not approved!");
		document.mailForm.mailText.focus();
		return false;
	}
}
</script>
</form>
</fieldset>
</body>
</html>