<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login and Registration form example</title>
<link rel="stylesheet" type="text/css" href="register.css">
<style>
  
body{
margin: 100px;
text-align: center;
align: center;
}
 
input[type=text],[type=password],[type=number]{
width: 20%;
margin: 8px 0;
padding: 7px 10px;
display: inline-block;
border:1px solid #ccc;
box-sizing: border-box;
}
 
button{
background-color:#4CAF50;
width: 10%;
padding: 9px 5px;
margin:5px 0;
cursor:pointer;
border:none;
color:#ffffff;
margin-left: 80px;
}
 
button:hover{
opacity:0.8;
}
 
#fn,#ln,#un,#pwd,#em,#mn,#fm,#cy{
font-family:'Lato', sans-serif;
color: gray;
}
 
#em{
margin-left:30px;
}
</style>
</head>
 
<body bgcolor="#E6E6FA">
 
<form name="regi" action="register1.jsp" method="post">
<h2>Registration Form</h2>
 
<label for="r1" id="fn">First Name :</label>
<input type="text" name="fname" id="r1"><br/>
 
<label  for="r2" id="ln">Last Name :</label>
<input type="text" name="lname" id="r2"><br/>
 
<label  for="r3" id="un">Username :</label>
<input type="text" name="uname" id="r3"><br/>
 
<label  for="r4" id="pwd">Password :</label>
<input type="password" name="pass" id="r4"><br/>
 
<label  for="r5" id="em">Email :</label>
<input type="text" name="email" id="r5"><br/>
 
<label  for="r6" id="mn">Mobile No :</label>
<input type="text" name="mno" id="r6"><br/>
 
<label for="r8" id="cy">Branch:</label>
 
<select name="ct" id="r8">
<option>CSE A</option>
<option>CSE B</option>
<option>CSE C</option>
<option>ECE A</option>
<option>ECE B</option>
<option>ECE C</option>
<option>ISE A</option>
<option>ISE B</option>
<option>ISE C</option>
<option>Mech.</option>
<option>CIVIL</option>
</select><br/><br/>
 
<button type="submit" value="Submit" id="button">Register</button>
<a href="./index1.hbs">Back to Home</a>
 
</form>
 
<script type="text/javascript">
function save(){
var user = document.getElementById("user").value;
var pwd = document.getElementById("pwd").value;
alert("username"+user+"password"+pwd);
}
</script>
 
</body>
</html>
