<!doctype html>
<html>
<head>	
<title>
</title>
<div class="rns">
<link type="text/css" rel="stylesheet" href="stylesheet.css">
 
</head>
<body> 
<p>
<div>
<p><b>Chairman of RNS Institue of Technogy</b></p>
<img class ="rns1" src="chair.jpg"><br></br>
    
    Chairman of RNSIT<br></br>
    <i><i></i>Dr. Rama Nagappa Shetty is an Indian entrepreneur, philanthropist and an educationist.
Rama Nagappa Shetty formed the R N Shetty & Company, a partnership firm. 
During the next four years, the company took up construction of three major projects - building bridges on Honnavar-Bangalore road. 
In 1966, he moved out of his native district and began operations from Hubli, a major city in northern Karnataka.
 At present he is the owner of R N Shetty Group of companies which includes RNS Infrastructure Limited, RNS Maruti Suzuki (RNS Motors),
 Murdeshwar Ceramics and Naveen Hotel Limited and he is also Chairman of a chain of educational institutions under the R N Shetty trust.
</p><br></br>
<a href="https://en.wikipedia.org/wiki/R._N._Shetty">©For more information.....</a>
</div>

</body>
</div>
</html>